/* font family  */
body{
    font-family: 'Source Sans Pro', sans-serif;
}

.page-title h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:900;
    
}

#show-more-button{
    display: none;
}

#explore-result{
    display: none;
}

.card:hover{
    transform: scale(1.05);
    transition-duration: 500ms;
    
}